In [1]:
 import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
df=pd.read_csv('onlinefraud.csv')

In [2]:
df

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.00,0.00,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.00,0.00,0,0
2,1,TRANSFER,181.00,C1305486145,181.00,0.00,C553264065,0.00,0.00,1,0
3,1,CASH_OUT,181.00,C840083671,181.00,0.00,C38997010,21182.00,0.00,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.00,0.00,0,0
...,...,...,...,...,...,...,...,...,...,...,...
6362615,743,CASH_OUT,339682.13,C786484425,339682.13,0.00,C776919290,0.00,339682.13,1,0
6362616,743,TRANSFER,6311409.28,C1529008245,6311409.28,0.00,C1881841831,0.00,0.00,1,0
6362617,743,CASH_OUT,6311409.28,C1162922333,6311409.28,0.00,C1365125890,68488.84,6379898.11,1,0
6362618,743,TRANSFER,850002.52,C1685995037,850002.52,0.00,C2080388513,0.00,0.00,1,0
6362619,743,CASH_OUT,850002.52,C1280323807,850002.52,0.00,C873221189,6510099.11,7360101.63,1,0

In [3]:
df.isnull().sum()

step              0
type              0
amount            0
nameOrig          0
oldbalanceOrg     0
newbalanceOrig    0
nameDest          0
oldbalanceDest    0
newbalanceDest    0
isFraud           0
isFlaggedFraud    0
dtype: int64

In [4]:
df['type'].unique()

array(['PAYMENT', 'TRANSFER', 'CASH_OUT', 'DEBIT', 'CASH_IN'],
      dtype=object)

In [5]:
df['type']=df['type'].replace('PAYMENT',1)
df['type']=df['type'].replace('TRANSFER',2)
df['type']=df['type'].replace('CASH_OUT',3)
df['type']=df['type'].replace('DEBIT',4)
df['type']=df['type'].replace('CASH_IN',5)

In [6]:
df

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,1,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.00,0.00,0,0
1,1,1,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.00,0.00,0,0
2,1,2,181.00,C1305486145,181.00,0.00,C553264065,0.00,0.00,1,0
3,1,3,181.00,C840083671,181.00,0.00,C38997010,21182.00,0.00,1,0
4,1,1,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.00,0.00,0,0
...,...,...,...,...,...,...,...,...,...,...,...
6362615,743,3,339682.13,C786484425,339682.13,0.00,C776919290,0.00,339682.13,1,0
6362616,743,2,6311409.28,C1529008245,6311409.28,0.00,C1881841831,0.00,0.00,1,0
6362617,743,3,6311409.28,C1162922333,6311409.28,0.00,C1365125890,68488.84,6379898.11,1,0
6362618,743,2,850002.52,C1685995037,850002.52,0.00,C2080388513,0.00,0.00,1,0
6362619,743,3,850002.52,C1280323807,850002.52,0.00,C873221189,6510099.11,7360101.63,1,0

In [7]:
df.columns

Index(['step', 'type', 'amount', 'nameOrig', 'oldbalanceOrg', 'newbalanceOrig',
       'nameDest', 'oldbalanceDest', 'newbalanceDest', 'isFraud',
       'isFlaggedFraud'],
      dtype='object')

In [8]:
x=df[['type', 'amount', 'oldbalanceOrg', 'newbalanceOrig','oldbalanceDest', 'newbalanceDest']]
y=df[['isFraud']]

In [9]:
x.shape, y.shape

((6362620, 6), (6362620, 1))

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
	x, y, test_size=0.3, random_state=42)

In [11]:
from sklearn.metrics import roc_auc_score as ras

# Logistic regression

In [12]:
from sklearn.linear_model import LogisticRegression

model =LogisticRegression()
model.fit(X_train, y_train)

print("Logistic Reggression : ")
	
train_preds = model.predict_proba(X_train)[:, 1]
print('Training Accuracy : ', ras(y_train, train_preds))
	
y_preds = model.predict_proba(X_test)[:, 1]
print('Validation Accuracy : ', ras(y_test, y_preds))

C:\Users\manej\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\utils\validation.py:1229: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\manej\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Logistic Reggression :
Training Accuracy :  0.8803409768420001
Validation Accuracy :  0.8775485976149773

# XGBClassifier

In [13]:
from xgboost import XGBClassifier

model =XGBClassifier()
model.fit(X_train, y_train)

print("XGBClassifier : ")
	
train_preds = model.predict_proba(X_train)[:, 1]
print('Training Accuracy : ', ras(y_train, train_preds))
	
y_preds = model.predict_proba(X_test)[:, 1]
print('Validation Accuracy : ', ras(y_test, y_preds))

XGBClassifier :
Training Accuracy :  0.9999308046315831
Validation Accuracy :  0.999151345870267

# Random Forest

In [14]:
from sklearn.ensemble import RandomForestClassifier

model =RandomForestClassifier(n_estimators=7,
								criterion='entropy', 
								random_state=7)
model.fit(X_train, y_train)

print("Random Forest Classifier : ")
	
train_preds = model.predict_proba(X_train)[:, 1]
print('Training Accuracy : ', ras(y_train, train_preds))
	
y_preds = model.predict_proba(X_test)[:, 1]
print('Validation Accuracy : ', ras(y_test, y_preds))

C:\Users\manej\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:1351: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

Random Forest Classifier :
Training Accuracy :  0.9999990897778086
Validation Accuracy :  0.9689134490905761